<html>
<head>
    {% macro render_table(table_name, relation) %}
    <div class="innerBlock">
        <p>
            <b>{{table_name}} </b>
        </p>
        <!-- количество строк в таблице -->
        {% set n = len(relation) %}
        <table>
            <!-- формируем заголовок таблицы (имена столбцов) -->
            <tr>
                {% for name in relation.dtypes.index %}
                <th>{{name}}</th>
                {% endfor %}
            </tr>

            <tbody>
            <!-- для всех строк таблицы -->
            {% for i in range(n) %}
            <tr>
                <!-- выводим значение каждого столбца -->
                {% for name in relation.dtypes.index %}
                <td> {{ relation.loc[i, name] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endmacro %}
    <link rel="stylesheet" href="styles.css">
    <title> Дамп базы данных </title>
</head>
<body>
<div>
    {% for i in range(tables|length) %}
    {{ render_table(tables[i], relations[i]) }}
    {% endfor %}
</div>
</body>
</html>