<html>
<head>
    <title> Карточка читателя </title>
    <link rel="stylesheet" href="styles.css">
    {% macro render_table(table_name, relation) %}
    <div class="innerBlock">
        <p>
            <b>{{table_name}} </b>
        </p>
        <!-- количество строк в таблице -->
        {% set n = len(relation) %}
        <table>
            <!-- формируем заголовок таблицы (имена столбцов) -->
            <tr>
                {% for name in relation.dtypes.index %}
                <th>{{name}}</th>
                {% endfor %}
            </tr>

            <tbody>
            <!-- для всех строк таблицы -->
            {% for i in range(n) %}
            <tr>
                <!-- выводим значение каждого столбца -->
                {% for name in relation.dtypes.index %}
                {% if name == 'Дата возврата' and relation.loc[i, name] == None %}
                <td><button>Сдать</button></td>
                {% else %}
                <td> {{ relation.loc[i, name] }} </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endmacro %}
    {% macro create_form(relation_genre, genre_id)%}
    <form>
    <!-- Поле для ввода чисел -->
    <label for="numberInput">Введите число:</label>
    <input type="number" id="numberInput" name="numberInput" required value="5">
    <br>
    <!-- Список с выбором вариантов -->
    <label for="selectOptions">Выберите вариант:</label>
    <select id="selectOptions" name="selectOptions" required>
        {% set n = len(relation_genre) %}
        {% for i in range(n) %}
        {% set id_r = relation_genre.loc[i, "genre_id"] %}
        {% if id_r == genre_id %}
        <option selected value={{id_r}}>
            {% else %}
        <option value={{id_r}}>
            {% endif %}
        {{ relation_genre.loc[i, "genre_name"] }}
        </option>
        {% endfor %}
    </select>

    <!-- Кнопка отправки формы -->
    <button type="submit">Отправить</button>
    </form>
    {% endmacro %}
</head>
<body>
{{create_form(genres, chosen_number)}}
{{render_table('Результат', data)}}
</body>
</html>